[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/ucb-bar/rocket-chip.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "linux-stable"]
	path = linux-stable
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "ethernet/verilog-ethernet"]
	path = ethernet/verilog-ethernet
	url = https://github.com/alexforencich/verilog-ethernet.git
[submodule "generators/sifive-cache"]
	path = generators/sifive-cache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
[submodule "generators/testchipip"]
	path = generators/testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "generators/riscv-boom"]
	path = generators/riscv-boom
	url = https://github.com/ckf104/boom-dev.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi.git
[submodule "generators/rocket-chip-blocks"]
	path = generators/rocket-chip-blocks
	url = https://github.com/chipsalliance/rocket-chip-blocks
